
#home-page{
    background-color: rgb(153, 153, 185);
    text-align: center;
}

#top-left-img{
    padding:5px;

}

#name-heading{
    color:blueviolet;
    font-family: 'Courier New', Courier, monospace;
    
}

