
#home-page{
    background-color: #B98579;
    text-align: center;
    max-width:1080px;
    margin:auto;
    padding-top:10px;
}

#header{
    display:grid;
    background-color:#5483C9;
    grid-template-columns: auto auto;
    grid-template-rows: 70px 70px 70px;
}

#top-left-img{
    padding:5px;
    grid-column:1/2;
    grid-row:1/4;
    align-items: center;
}

#name-heading{
    color:#000000;
    font-family: 'Courier New', Courier, monospace;
    grid-column:2/3;
    grid-row:2/3;
}

