body{
    max-width:1080px;
    text-align: center;
    align-items: center;
    margin: auto;
    background-color: #90B694;
}
header{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    background-color: #CEC3E9;
    font-family: "IBM Plex Sans", "sans-serif";
}
#logo{
    grid-column: 1/2;
    grid-row: 1/2;
    max-width:75%;
    margin:5px;
    padding:1px;
}

#date{
    grid-column:1/5;
    grid-row:2/3;
    font-size: 1.3em;
}

#facebook{
    grid-column: 3/4;
}
#linkedin{
    grid-column: 3/4;
}

#name{
    grid-column:2/3;
    display:grid;
    grid-template-rows: auto auto;
    border: none;
}




nav{
    grid-column: 4/5;
    grid-row:2/3;
    background-color: #011936;
    margin: 5px;
}
.navigation{
    list-style: none;
    padding-left: 0px;
}
.navigation li:first-child{
    display:block;
}
.navigation li{
    display:none;
    margin-right: 1px;

}

.navigation a{
    display:block;
    color:#FFFFFF;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    text-decoration: none;
    transition: 0.5s;

}

.navigation a.ham::before{
    content:"Menu";
}

.responsive li{
    display:block;
}

.responsive a.ham::before{
    content:"Close ";
}

footer{
    padding-top: 10px;
    background-color: #011936;
    color:#FFFFFF;
    padding-bottom: 10px;
}

div{
    border:1px solid #000000;
}

h3,
h4{
    font-family:'Questrial', "sans-serif";
}
#content{
    border: none;
    background-color: #FFFFFF;
}

#join{
    display:none;
}

#spot3{
    display:none;
}

#discover img{
    max-width: 100%;
}