 

#home-page{
    background-color: #D2D4C8;
    text-align: center;
    margin:auto;
    max-width: 1080px;
    padding-top:10px;
    font-family:"PT Serif", "serif";
}

#header{
    display:grid;
    background-color:#849A96;
    grid-template-columns: auto auto;
    grid-template-rows: 70px 70px 70px;
    color:#000000;
    margin:auto;
    max-width: 720px;
    padding:5px;
    padding-right: 10px;
    
}

#top-left-img{
    grid-column:1/2;
    grid-row:1/4;
    max-width:100%;
    max-height:100%;
}

#name-heading{
    font-family: "Playfair Display", "serif";
    grid-column:2/3;
    grid-row:2/3;
}

h2{
    background-color:#939F9F;
    padding:5px;
}

footer{
    background-color:#849A96 ;
    padding:1px;
}

main{
    background-color: #E0E2DB;
    padding-bottom: 5px;
}

@media(min-width:32.5em){

}

@media(min-width:64em){
    
}